* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.rn-carousel-control.rn-carousel-control:before {
  content: none;
}

.rn-carousel-control:after {
   content: "";
   display: block;
   width: 2em;
   height: 2em;
   background-color: rgba(0, 0, 0, .25);
   margin:-.5em;
}

.rn-carousel-control {
  display: block;
  width: 1em;
  height: 1em;
  margin-top: -.5em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.rn-carousel-control-next {
  border-top: solid 4px #000;
  border-right: solid 4px #000;
  margin-right: 1em;
}

.rn-carousel-control-prev {
  border-left: solid 4px #000;
  border-bottom: solid 4px #000;
  margin-left: 1em;
}

.play-button-outer {
  margin: -5em auto;
  top: 50%;
  position: relative;
  width: 10em;
  height: 10em;
  background-color: rgba(0, 0, 0, .25);
  cursor: pointer;
}

.play-button {
  margin: 0 auto;
  top: 25%;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2.5em 0 2.5em 5em;
  border-color: transparent transparent transparent #000;
  opacity: .75;
}

.play-button-outer:hover {
  background-color: rgba(0, 0, 0, .5);
}

.play-button-outer:hover .play-button {
  opacity: 1;
}
