
<ul rn-carousel rn-carousel-buffered rn-carousel-control index-watcher>

  <li ng-repeat="asset in assets" class="background-image" ng-style="{ backgroundImage: 'url(' + asset.image + ')' }">

    <div data-ng-if="switchedViews === $index && videoIndex !== $index" class="play-button-outer" data-ng-click="clickPlay($index)">

      <div class="play-button"></div>

    </div>

    <iframe data-ng-if="switchedViews === $index && videoIndex === $index" data-ng-src="{{ asset.video }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  </li>

</ul>
